@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  @apply bg-[#F6F8FA];
}

.top-nav-bar {
  box-shadow: 0 4px 20px #2684FF19;
}
