@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    @apply bg-[#F6F8FA];
}

.top-nav-bar {
    box-shadow: 0 4px 20px #2684FF19;
}

@keyframes featured-marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: featured-marquee 25s linear infinite;
}

picture, img {
    -webkit-user-drag: none;
}


.hero-banner-button {
    align-items: center;
    gap: .25rem;
    padding-block: .25rem;
    padding-inline: .5rem;
    inline-size: fit-content;
    background: hsla(228, 98%, 60%, 0.08);
    line-height: 1.25rem;
}

.hero-banner-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .875rem;
    border: 1px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(54, 64, 253, 0.48) 0%, rgba(74, 54, 253, 0) 180%) border-box;

}

.hero-banner-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .875rem;
    border: 1px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
    background: radial-gradient(42.86% 42.86% at 50.55% -0%, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%) border-box;
}
